<!DOCTYPE html>
<html>
    <head>

        <title>Word Counter</title>
    </head>
    <body>
        <h1>Word Counter</h1>
        <p>Type in a sentence below and the word you want counted</p>
        <form action='/counter_results'>

            <label for='input_string'>Sentence</label>
            <input type='text' id='input_string' name='input_string'>

            <label for='word_to_count'>Word to count</label>
            <input type='text' id='word_to_count' name='word_to_count'>

            <button type='submit'>Count the word!</button>
        </form> 
    </body>
</html>
