<!DOCTYPE html>
<html>
    <head>

        <title>Counted word</title>
    </head>
    <body>
        <h1>We counted this word:</h1>
        <h2>{{ result }} times</h2>

        <a href='/'>Count another word</a> 
    </body>
</html>
